<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Librería{% endblock %}</title>
    <link rel="stylesheet" href="tatic 'css/styles.css">

</head>
<body>
    <header>
        <h1>Bienvenido a la Librería</h1>
        <nav>
            <ul>
                <li><a href="{% url 'listar_libros' %}">Libros</a></li>
                <li><a href="{% url 'listar_usuarios' %}">Usuarios</a></li>
                <li><a href="{% url 'listar_resenas' %}">Reseñas</a></li>
                <li><a href="{% url 'crear_resena' %}">Crear Reseña</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 Librería Django</p>
    </footer>
</body>
</html>