<!-- libreria/templates/libreria/listar_resenas.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reseñas</title>
</head>
<body>
    <h1>Lista de Reseñas</h1>
    <ul>
        {% for resena in resenas %}
            <li>Reseña del libro: {{ resena.libro.titulo }} por {{ resena.usuario.nombre }}. Contenido: {{ resena.contenido }}</li>
        {% empty %}
            <li>No hay reseñas disponibles.</li>
        {% endfor %}
    </ul>
</body>
</html>
